/*spacing test*/
* {
	/*border: 2px solid orange;*/
}
body {
	background-color:lightblue;
	font-family: Garamond;
	text-align: center;
}
header {
}
main {
	margin: 0 auto;
	max-width: 80%;
	background-color: white;
	border: 2px solid silver;
}
hr{
	max-width:40rem;
	border-top: 1px solid gray;
	color: silver;
}
section {
	margin: 3rem auto;
}
button {
	background-color: lightblue;
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight: 700;
	color:white;
	padding: 5px;
	border-radius: 5%;
	border: 2px solid silver;
}
.hover {
	background-color: white;
	color:lightblue;
}
#newquote {
	margin: 0 auto;
	padding: 2rem;
}
#shareit {
	margin: 0 auto;
	padding: 1.5rem;
	height: 3rem;
}
#shareit .fa {
	color:lightblue;
	line-height: 35px;
}
footer {
}