* {
	font-family: 'Raleway', sans-serif;
}
body {
	background:lightblue;
	font-size: 1.5rem;
	text-align: center;
}
main {
	margin: 2rem auto;
	max-width: 80%;
	background-color: white;
	border: 2px solid silver;
	border-radius: 20px;
}
h3 {
	font-style: italic;
	font-size: 2rem;
}
hr{
	max-width:40rem;
	border-top: 1px solid gray;
	color: silver;
}
section {
	margin: 3rem auto;
}
button {
	background-color: lightblue;
	text-transform: uppercase;
	font-weight: 700;
	color:white;
	padding: 15px;
	border-radius: 15px;
	border: 2px solid silver;
	outline-style:none;
	box-shadow:none;
}
button:active {
	outline: none;
}
button: focus {
	outline: none;
}
.darken:hover {
	background-color:lightgray;
	color: white;
	cursor: pointer;
}
.clicked {
	color:white;
	font-weight: 700;
}
#displayit .fa {
	color: silver;
}
#newquote {
	margin: 0 auto;
	padding: 2rem;
}
#shareit {
	margin: 0 auto;
	padding: 1.75rem;
	height: 3rem;
}
#shareit .fa {
	color:lightblue;
	line-height: 35px;
}
footer {
	font-size: 1rem;
}