.jumbotron {
	width: 80%;
	margin: 5% auto;
	border-radius: 0.5%;
}

hr {
	width: 90%;
}

h1 {
	margin: 0 auto;
	text-align: center;
}

h2 {
	text-align: center;
	font-style: italic;
}
.image {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 0.8%;
	width: 80%;
	margin: 1% auto;
	padding: 10px 5px;
}

#caption {
	padding-top: 10px;
	margin: auto;
	font-size: 1.4rem;
	text-align: center;
}

img {
 	width: 100%;
}

.timeline {
	width:65%;
	margin:auto;
	padding-top:15px;
}

.quote {
	margin:0 auto;
}

#bootstrap-overrides .attribution {
	margin: 0 auto;
	font-style: italic;
	font-size: 1.5rem;
	color: gray;
}

#footer p{
	text-align: auto;
	padding-bottom: 2%;
}