* {
	font-family: Raleway;
}
body {
	background: lightgreen;
}
body > h1 {
	padding-top: 3%;
	font-size: 3rem;
}
h1, h5{
	text-align: center; 
}
section {
	background-color: white;
	display: inline-block;
	height: 30%;
	width: 30%;
	margin: 2% 0;
	/*border: 1px solid black;*/

}

section:first-of-type {
	margin-left: 5%;
}
#mainTemp {
	padding-top:15%;
	font-size: 5rem;
}

.tempType {
	font-size:2rem;
	padding-bottom: 4%;
}
h5 {
	font-size: 1rem;
}
#icon {
	font-size: 8rem;
}
.fa {
	padding-bottom: 10%;
}
#description {
	padding-top: 9%;
	font-size: 2rem;
}
label {
	margin-right: 1%;
	font-size: 1.3em;
}
button {
	border: none;
	background-color: white;
	padding: 2px, 5px;
	border-radius: 10px;
	font-family: Raleway;
	font-size: 1em;
	font-weight: 700;
}
form {
	text-align: center;
	margin-top: 2%;
}